BasedOnStyle: WebKit
ColumnLimit: 80
IndentWidth: 4
NamespaceIndentation: All
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: true
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  AfterControlStatement: true
  SplitEmptyFunction: false
  BeforeElse: true
AllowShortBlocksOnASingleLine: false
BinPackParameters: false
BinPackArguments: true
AllowShortFunctionsOnASingleLine: Empty
SplitEmptyFunction: false
AlwaysBreakTemplateDeclarations: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignArrayOfStructures: None
